<%= form_with(model: [:admin, @resource], local: true) do |form| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.text_field :service_id %>
  </div>

  <div class="field">
    <%= form.label :admin_user_id %>
    <%= form.text_field :admin_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
